accelerate==0.20.3
torch
torchvision
torchaudio
git+https://github.com/huggingface/diffusers.git
git+https://github.com/cloneofsimo/lora.git
git+https://github.com/microsoft/LoRA
transformers==4.34.0
einops
decord
tqdm
safetensors
omegaconf
opencv-python
pydantic
compel
tensorboard
pytest
clip==1.0
Pillow
scipy
